name: Test DevSecOpsBot Image Scan

on:
  workflow_dispatch:

jobs:
  scan-public:
    name: Scan Public Image
    runs-on: ubuntu-latest
    steps:
      - uses: devsecopsbot/image-scan@main
        with:
          image: nginx:latest
          post-url: ${{ secrets.POST_URL }}
          auth-token: ${{ secrets.AUTH_TOKEN }}

  scan-azure:
    name: Scan Azure ACR Image
    runs-on: ubuntu-latest
    steps:
      - uses: devsecopsbot/image-scan@main
        with:
          image: devsecopsbot.azurecr.io/web-dvwa:latest
          post-url: ${{ secrets.POST_URL }}
          auth-token: ${{ secrets.AUTH_TOKEN }}
        env:
          REGISTRY_AZURE_USERNAME: ${{ secrets.REGISTRY_AZURE_USERNAME }}
          REGISTRY_AZURE_PASSWORD: ${{ secrets.REGISTRY_AZURE_PASSWORD }}

  scan-gcp:
    name: Scan GCP Artifact Registry Image
    runs-on: ubuntu-latest
    steps:
      - uses: devsecopsbot/image-scan@main
        with:
          image: gcr.io/fast-gate-471512-v4/web-dvwa:latest_gcp
          post-url: ${{ secrets.POST_URL }}
          auth-token: ${{ secrets.AUTH_TOKEN }}
        env:
          BASE64_GOOGLE_CREDENTIALS: ${{ secrets.BASE64_GOOGLE_CREDENTIALS }}

  scan-aws:
    name: Scan AWS ECR Image
    runs-on: ubuntu-latest
    steps:
        
      - uses: devsecopsbot/image-scan@main
        with:
          image: 836217041525.dkr.ecr.us-east-1.amazonaws.com/devsecops-demo:vulnerables_web-dvwa_latest
          post-url: ${{ secrets.POST_URL }}
          auth-token: ${{ secrets.AUTH_TOKEN }}
        env:
          AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
          AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          AWS_REGION: ${{ secrets.AWS_REGION }}
